@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Assistant', sans-serif;
}

.app-container {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    flex: 1;
    margin: 0 auto;
    max-width: 1340px;
    width: 100%;
}

footer {
    background-color: #5a6f08;
    color: #ffffff;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}